<% if(value){ debugger; %>

<div style="border-style: solid;border-width: 1px;">
	<span style="position:relative; top:-12px;background-color: white;"><strong><%= objectMetadata.displayName %></strong><span>
      <%
      for (var i = 0; i < objectMetadata.fieldDescriptors.length; i++){
        var fd = objectMetadata.fieldDescriptors[i];

        if (fd.name == 'metaworksContext') continue;

        if (mw3.isHidden(fields[fd.name])) continue;
      %>
      <div class="form-group">
        <label class="form-label">
          <strong><%= fd.displayName %></strong>
						<span class="ui-state-default ui-corner-all"
                  onClick="mw3.getFaceHelper('<%= objectId %>').toggleChild(this)"
                  style="<%= fd.className.match('^org.uengine.essencia.model')?'':'display:none;' %>">+</span>
        </label>

        <div class="controls"
             style="<%= fd.className.match('^org.uengine.essencia.model')?'display:none;padding: 1.0em 1.0em 0.5em 1.0em;':'padding: 0.5em 1.0em 0.5em 1.0em;' %>">
          <%= fields[fd.name].here() %>
        </div>
      </div>

      <%
      }
      %>

      <% for(var i = 0; i < objectMetadata.serviceMethodContexts.length; i++){
        var serviceMethod = objectMetadata.serviceMethodContexts[i];
      %>
      <%= methods[serviceMethod.methodName].here() %>
      <%
      }
      %>
      <div style="clear:both"></div>
</div>
<% } %>