<%
if(value != null && typeof value != 'undefined'){
  var selectorble = descriptor.getOptionValue('selectorble');
  var selectField = descriptor.getOptionValue('selectField');
  var selectedValue = descriptor.getOptionValue('selectedValue');
%>
<div class="panel-body">
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <table id="listitem_<%= objectId %>" class="table table-striped">
        <%
        if(value.length){
        %>
        <thead>
        <tr>
          <%
          if(selectorble){
          %>
          <th style="text-align: center; width: 50px">#<!--<input type="checkbox" />--></th>
          <%
          }

            var itemMetatata = mw3.getMetadata(value[0].__className);

          for (var i = 0; i < itemMetatata.fieldDescriptors.length; i++){
            var fd = itemMetatata.fieldDescriptors[i];

            if (mw3.isHiddenFieldDescriptor(fd, value[0])) continue;
            if (fd.name == 'metaworksContext') continue;
          %>
          <th><%= mw3.localize(fd.displayName) %></th>
          <%
          }
          %>
        </tr>
        </thead>
        <%
        }
        %>
        <tbody>
        <%
        if(value != null){
          if (typeof options == 'undefined')
            options = objectMetadata;

          options['htmlTag'] = 'tr';
          options['ejsPath'] = 'dwr/metaworks/genericfaces/ListItemFace.ejs';
          options['selectorble'] = selectorble;
          options['selectField'] = selectField;
          options['selectedValue'] = selectedValue;
          options['index'] = i;


        for(var i = 0; i < value.length; i++){
        %>
        <%= mw3.locateObject(value[i], value[i].__className, null, options) %>
        <%
        }

          mw3.onLoadFaceHelperScript();
        }
        %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<%
}
%>