<%
if(value){
  var ableClose = false;
  if (descriptor != null) {
    ableClose = descriptor.getOptionValue('ableClose');
  }

  mw3.newBeanProperty(objectId);
%>
<div id="tabs-<%= objectId %>" class="ui-layout-center" objectId="<%= objectId %>">
  <ul style="background:none; border-top:none; border-left:none; border-right:none">
    <%
    for (var i = 0; i < value.length; i++){
      var metadata = mw3.getMetadata(value[i].__className);
      var label = metadata.displayName;

      if (metadata.nameFieldDescriptor)
        label = mw3.getValueForFieldDescriptor(value[i], 'name');
    %>
    <li>
      <a href="#tabs-<%= objectId %>-<%= (i + 1).toString() %>" data-toggle="tab"><%= label %></a>
      <%
      if(ableClose){
      %>
      <span class="ui-icon ui-icon-close" role="presentation">Remove Tab</span>
      <%
      }
      %>
    </li>
    <%
    }
    %>
  </ul>

  <div class="ui-layout-content tab-content" style="overflow:auto;height:350px;">
    <%
    for (var i = 0; i < value.length; i++){
      objectTypeName = value[i].__className;
    %>
    <div id="tabs-<%= objectId %>-<%= (i + 1).toString() %>" class="">
      <%= mw3.locateObject(value[i], objectTypeName, null, null, {objectId: objectId, name: '[' + i + ']'}) %>
    </div>
    <%
    }
    %>
  </div>
</div>

<%
}
%>
