<%
if (value){
  var showLabel = !(objectMetadata.faceOptions && objectMetadata.faceOptions['hideLabels']);
  var showTitleBar = !(objectMetadata.faceOptions && objectMetadata.faceOptions['hideTitleBar']);
  var showCloseBtn = !(objectMetadata.faceOptions && objectMetadata.faceOptions['hideCloseBtn']);

  var objectName = objectMetadata.displayName;

  if (objectMetadata.nameFieldDescriptor) {
    var nameField = fields[objectMetadata.nameFieldDescriptor.name];

    if (nameField && value[nameField.name])
      objectName = value[nameField.name];
  }
%>

<div aria-labelledby="ui-id-<%= objectId %>" style="width: 100%; height: 100%; overflow: auto">
  <%
  if(showTitleBar){
  %>
  <div style="padding:20px">
    <span id="ui-id-<%= objectId %>" class="ui-dialog-title"><%= mw3.localize(objectName) %></span>
    <%
    if(showCloseBtn){
    %>
    <button onClick="mw3.removeObject(<%= objectId %>)" type="button"
            class="ui-button ui-widget ui-state-default ui-corner-all ui-button-icon-only ui-dialog-titlebar-close"
            role="button" title="Close"><span class="ui-button-icon-primary ui-icon ui-icon-closethick"></span><span
          class="ui-button-text">Close</span>
    </button>
    <%
    }
    %>
  </div>
  <%
  }
  %>

  <div style="width: auto; min-height: 107px; max-height: none; height: auto;padding:10px">
    <%
    for (var i = 0; i < objectMetadata.fieldDescriptors.length; i++){
      var fd = objectMetadata.fieldDescriptors[i];

      if (fd.attributes && (fd.attributes['hidden'] || fd.attributes['resource'])) continue;
      if (fd.name == 'metaworksContext') continue;

      var fieldValue = value[fd.name];

    if(showLabel){
    %>
    <span> <b><%= fd.displayName %></b> </span>
    <%
    }
    %>
    <%= fields[fd.name] ? fields[fd.name].here() : "-" %>
    <%
    }
    %>

    <span style="float:right;">

      <%
      if(objectMetadata.serviceMethodContexts){
          for(var key in objectMetadata.serviceMethodContexts){
        var serviceMethod = objectMetadata.serviceMethodContexts[key];
      %>
      <span style="display: inline-block;"><%= methods[serviceMethod.methodName].here() %></span>
      <%
      }
      }
      %>
    </span>

    <div style="clear:both"></div>

  </div>

</div>

<%
}
%>