<%
if(mw3.when == mw3.WHEN_EDIT || mw3.when == mw3.WHEN_NEW){
%>
<select id='<%= mw3.createInputId(objectId) %>' class="form-control">

  <%
  for(var i = 0; i < descriptor.options.length; i++){
  %>
  <option
      value="<%= descriptor.values[i] %>"<%= (value == descriptor.values[i] ? " selected" : "") %>> <%= mw3.localize(descriptor.options[i]) %>
    <%
    }

    }else{

    if(value != null){
    for(var i = 0; i < descriptor.options.length; i++){

    if(value == descriptor.values[i]){
    %>
    <%= mw3.localize(descriptor.options[i]) %>
    <%
    }
    }
    }else{
    %>
    NULL
<%
}

}
%>